body{
	background-color:#000000;
}


h1,p,.main{
	margin-left: 15%;
	padding:0px 5px;
}

h1{
	color:#cecccc;
	font-size:25px;
	font-family:Raleway, Arial;
}

p{
	font-family:JAF Facit,Arial;
	color:#cecccc;
	font-size:14px;
}

.main a{
	font-family:JAF Facit,Arial;
  	text-decoration: none;
  	font-size: 14px;
	color:#15b740;
}

.main a:hover{
	color: #67f78d;
}

.menu{
	font-family:JAF Facit,Arial;
	font-size:14px;
	float:left;
	height:100%;
	width:15%;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color:#000000;
	overflow-x:hidden;
	padding-top:14px;
	padding-left: 3px;
}

.menu a{
	padding: 2px 3px;
  	text-decoration: none;
  	font-size: 14px;
  	color: #cecccc;
  	display: block;
}

.menu a:hover {
  color: #67f78d;
}


description{
	font-size:14px;
	color:#cecccc;
	font-family:JAF Facit,Arial;
}


footer p{
	font-size:14px;
	text-align:center;
	color:#000000;
	border:solid 1px #000000;
	background-color:#b1b1b1;
}

.section{
	margin-left:10%;
}

.element{
	margin-left:5%;
}

.menu .current_module{
	color:#15b740;
}

.menu .current_section{
	color:#15b740;
	margin-left:10%;
}

h2{
	font-size:25px;
	color:#cecccc;
	font-family:Raleway, Arial;
}

section{
	color:#cecccc;
	line-height:110%;
}

/*
code{
	display:block;
	padding:0.8%;
	font-size: 14px;
    font-family:Consolas
}

.prepro{
	color:#d66614;
	background-color:#4c4a4a;
}

.ccode{
	color:#15b740;
	background-color:#4c4a4a;
}

.cmake{
	color:#2e7fdb;
	background-color:#4c4a4a;
}
*/

table{
	border:solid 1px #ffffff;
	background-color:#4c4a4a;
	font-size:14px;
	border-collapse: collapse;
	font-family:JAF Facit,Arial;
	margin:14px;
}

td{
	border:solid 1px #ffffff;
	padding-left:14px;
	padding-right:14px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}